.section-services {
margin-bottom: 46px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  margin: 0 0 24px 0;
  padding: 201px 30px 40px 45px;
  width: 572px;
  min-height: 325px;
  border-radius: 13px;
  background-color: #fff;
}

.services-item-titel {
  position: relative;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  color: #cc9933;
}

.services-item-titel::after {
  position: absolute;
  margin-left: 12px;
  width: 8px;
  height: 22px;
  content: "";
  background: url(../img/svg/angle-right.svg) no-repeat center;
}

.services-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  color: #333333;
}

.services-item:nth-child(1) {
  background-image: url(../img/10.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url(../img/15.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url(../img/12.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(4) {
  background-image: url(../img/car.jpg);
  background-repeat: no-repeat;
}
