@font-face {
	font-family: 'MullerLight';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MullerRegular';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MullerMedium';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MullerBold';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
	font-weight: 700;
	font-style: normal;
}

* {
  margin-top: 0;
	box-sizing: border-box;
}

body {
  font-family: 'MullerRegular';
  background-color: #f1f1f1;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 25px 15px 43px;
  box-sizing: content-box;
}

.header {
  margin-bottom: 71px;
}

.header-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  height: 54px;
}

.logo-link {
  max-width: 261px;
  max-height: 54px;
  margin-right: 25px;
}

.header-phone__number {
  margin-right: auto;
  font-family: 'MullerBold';
  font-size: 22px;
  color: #666666;
}

.lk-link {
  position: relative;
  font-size: 16px;
  color: #cc9933;
}

.lk-link::before {
  position: absolute;
  top: 1px;
  right: 132px;
  width: 21px;
  height: 12px;
  content: "";
  background: url(../img/svg/keyboard_tab.svg) no-repeat center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 11px 21px;
  border-radius: 12px;
  background-color: #fff;
  min-height: 70px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 647px;
}

.header-nav-link {
  display: flex;
  align-items: center;
  margin: 10px;
  line-height: 1;
  font-size: 16px;
  color: #333333;
}

.header-search-form {
  position: relative;
  width: 355px;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.header-search-input,
.header-search-btn {
  border: none;
  outline: none;
  background: transparent;
}

.header-search-input {
  width: 100%;
  height: 48px;
  padding: 21px 13px;
}

.header-search-btn {
  position: absolute;
  right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  background: url(../img/svg/search.svg) no-repeat center/22px;
  cursor: pointer;
}

.header-search-input::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 14px;
}

.header-search-input:-moz-placeholder {
  color: #bebebe;
  font-size: 14px;
}

.header-search-input:-ms-input-placeholder {
  color: #bebebe;
  font-size: 14px;
}

.container-booking-special_offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-booking {
  margin-bottom: 69px;
  margin-right: 20px;
  width: 518px;
}

.wrapper-booking-heading {
  padding-left: 44px;
}

.heading {
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 1;
}

.booking-form-input {
  margin-bottom: 24px;
  padding: 27px 21px;
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
}

.booking-form-input::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.booking-form-input:-moz-placeholder {
  color: #999999;
  font-size: 16px;
}

.booking-form-input:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.booking-form-btm {
  margin-right: 30px;
  padding: 0;
  width: 159px;
  height: 70px;
  border: none;
  border-radius: 12px;
  font-family: 'MullerBold';
  font-size: 16px;
  color: #ffffff;
  background-color: #cc9933;
  cursor: pointer;
}

.number-offers {
  font-size: 16px;
  color: #cc9933;
}

.number-offers-text {
  font-size: 16px;
  color: #a0a0a0;
}

.section-special_offer {
  margin-bottom: 69px;
  width: 595px;
}

.wrapper-special_offer-heading {
  padding: 0 0 0 44px;
}

.special_offer-image {
  position: relative;
  width: 100%;
  height: 540px;
  border-radius: 10px;
  background-image: url(../img/22.jpg);
}

.special_offer-lux_rooms-wrapper {
  position: absolute;
  left: 40px;
  bottom: 30px;
  max-width: 320px;
  height: 240px;
}

.special_offer-lux_rooms {
  margin-bottom: 35px;
  font-family: "MullerBold";
  font-size: 66px;
  line-height: 58px;
  color: #ffffff;
}

.special_offer-room_rate {
  margin-right: 40px;
  font-size: 35px;
  color: #9b9088;
}

.special_offer-link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #ffcc66;
}

.special_offer-link::after {
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 15px;
  margin-left: 6px;
  content: "";
  background: url(../img/svg/angle-right.svg) no-repeat center;
}

.section-about_us {
  margin-bottom: 66px;
  padding: 0 0 0 43px;
}

.section-about_us .heading {
  margin-bottom: 27px;
}

.about_us-text {
  margin: 0;
  max-width: 880px;
  font-size: 16px;
  line-height: 2;
  color: #666666;
}

.section-services {
margin-bottom: 46px;
}

.wrapper-services-heading {
  padding-left: 41px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  margin: 0 0 24px 0;
  padding: 201px 30px 40px 45px;
  width: 572px;
  min-height: 325px;
  border-radius: 13px;
  background-color: #fff;
}

.services-item-titel {
  position: relative;
  margin-bottom: 13px;
  font-family: 'MullerMedium';
  font-weight: 400;
  font-size: 22px;
  color: #cc9933;
}

.services-item-titel::after {
  position: absolute;
  margin-left: 12px;
  width: 8px;
  height: 22px;
  content: "";
  background: url(../img/svg/angle-right.svg) no-repeat center;
}

.services-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  color: #333333;
}

.services-item:nth-child(1) {
  background-image: url(../img/10.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url(../img/15.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url(../img/12.jpg);
  background-repeat: no-repeat;
}

.services-item:nth-child(4) {
  background-image: url(../img/car.jpg);
  background-repeat: no-repeat;
}

.section-advantage {
  margin-bottom: 46px;
}

.wrapper-advantage-heading {
  padding-right: 44px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage-item {
  margin: 0 0 22px 0;
  padding: 123px 40px 40px 44px;
  width: 275px;
  min-height: 275px;
  border-radius: 12px;
  background-color: #fff;
}

.advantage-text {
  font-size: 16px;
  line-height: 2;
  color: #333;
}

.advantage-item:nth-child(1) {
  background-image: url(../img/svg/bathtub.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(2) {
  background-image: url(../img/svg/hanger.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(3) {
  background-image: url(../img/svg/heating.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(4) {
  background-image: url(../img/svg/hotel-key.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(5) {
  background-image: url(../img/svg/parking.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(6) {
  background-image: url(../img/svg/reception.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(7) {
  background-image: url(../img/svg/security-box.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.advantage-item:nth-child(8) {
  background-image: url(../img/svg/swimming-pool.svg);
  background-size: auto 59px;
  background-repeat: no-repeat;
  background-position: top 44px left 44px;
}

.section-accomondation {
  margin-bottom: 43px;
}

.wrapper-accomondation-heading {
  padding-left: 44px;
}

.accomondation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accomondation-article-container {
  margin: 0 0 25px 0;
  width: 373px;
  min-height: 441px;
  border-radius: 12px;
  background-color: #fff;
}

.accomondation-item-img-wrapper {
  width: 100%;
  height: 217px;
}

.accomondation-item-img {
  border-radius: 12px 12px 0 0;
}

.accomondation-item-wrapper {
  padding: 32px 44px 0;
}

.accomondation-item-desc {
  display: flex;
  justify-content: space-between;
  margin: 0 0 13px;
  font-size: 16px;
  color: #999;
}

.item-desc {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.item_desc-price {
  font-family: 'MullerBold';
  font-size: 22px;
  color: #000;
}

.item_desc-name {
  margin: 0 0 13px;
  font-size: 16px;
  color: #333;
}

.item_desc-location {
  margin: 0 0 13px;
  font-size: 16px;
  color: #999;
}

.accomondation-item-rooms {
  display: inline-block;
  padding: 10px 19px;
  border: 1px solid #cc9933;
  border-radius: 12px;
  font-family: 'MullerBold';
  font-size: 16px;
  font-weight: 400;
  color: #cc9933;
}

.accomondatoin-item-rating {
  padding-top: 6px;
}

.rating-stars,
.rating-stars-empty {
  width: 14px;
}

.rating-stars path {
  fill: #e9ce93;
}

.rating-stars-empty {
  fill: #e6e6e6;
}

div.accomondation-article-container {
  padding: 368px 39px 20px ;
  background: url(../img/41.jpg) no-repeat;
}

.accomondation-link {
  position: relative;
  font-family: 'MullerMedium';
  font-size: 22px;
  color: #ffff;
}

.accomondation-link::after {
  position: absolute;
  margin-left: 14px;
  width: 10px;
  height: 23px;
  content: "";
  background: url(../img/svg/angle-right-white.svg) no-repeat center;
}
