.section-contacts-feedback {
  margin-bottom: 22px;
}

.section-contacts-feedback--wraper {
  display: flex;
  padding: 46px 44px 44px 44px;
  border-radius: 12px;
  width: 1168px;
  min-height: 619px;
  background-color: var(--white-color);
}

.contacts-left {
  position: relative;
  margin-right: auto;
  width: 384px;
  min-height: 528px;
}

.contact-item {
  display: flex;
  padding-bottom: 25px;
  padding-right: 10px;
  border-bottom: 1px solid #cccccc;
  width: 100%;

  &:not(:first-child) {
    padding-top: 24px;
  }
}

.contact-title {
  margin-right: auto;
  font-size: 22px;
  font-weight: 700;
  color: #666666;
}

.contact-text {
  width: 228px;
  line-height: 24px;
  color: var(--main-text-color);
}

.contact-tel {
  display: inline-block;
  color: var(--accent-color);

}

.contact-text-email {
  width: 234px;
  color: #999999;
}

.contact-email {
  display: inline-block;
  color: var(--accent-color);
}

.contact-items-btm {
  position: absolute;
  bottom: 0;
  padding: 26px 29px;
}

.feedback-section {
  position: relative;
  width: 630px;
  min-height: 529px;
}

.feedback-heading {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 40px;
  color: var(--main-text-color);
}

.feedback-form {
  width: 100%;
}

.feedback-input {
  margin-bottom: 23px;
  padding: 20px 20px;
  border: none;
  border-radius: 12px;
  width: 303px;
  height: 70px;
  background-color: #f1f1f1;
  &:first-child {
    margin-right: 20px;
  }
}

.feedback-textarea {
  margin-bottom: 20px;
  padding: 13px 20px;
  border: none;
  border-radius: 12px;
  width: 100%;
  min-height: 219px;
  background-color: #f1f1f1;
  resize: none;
}

.feedback-input,
.feedback-textarea {
  &::-webkit-input-placeholder {
    color: #999999;
  }

  &:-moz-placeholder {
    color: #999999;
  }

  &:-ms-input-placeholder {
    color: #999999;
  }
}

.privacy-policy {
  line-height: 24px;
  color: #999999;
}

.privcy-policy-link {
  display: inline-block;
  color: var(--accent-color);
}

.feedback-btn {
  position: absolute;
  bottom: 0;
  width: 340px;
  height: 70px;
}
