html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #333;
  --accent-color: #CC9933;
  --white-color: #fff;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Muller', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 1;
  background-color: #f1f1f1;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.container {
  // max-width: 1198px;
  // padding: 30px 0 43px;
}
