@media (max-width: 1200px) {
  .about {
    &__container {
      margin-bottom: 65px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__descr {
      margin-bottom: 59px;
    }

    &__content {
      flex-direction: column;
    }

    &__colum {
      min-height: 641px;
    }
  }

  .colum-left {
    margin-bottom: 50px;

    &__text {
      justify-content: space-between;
      min-height: 173px;
      padding: 10px 50px 10px 46px;
    }
  }

  .colum-right {
    min-height: 630px;

    &__block {
      // margin-bottom: 11px;
      padding: 10px 10px 10px 108px;
    }
  }

  .icon-package {
    &::after {
      top: 45px;
    }

    &::before {
      top: 29px;
    }
  }

  .icon-setting {
    &::after {
      top: 47px;
    }

    &::before {
      top: 14px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__colum {
      min-height: 651px;
    }
  }

  .colum-left {
    margin-bottom: 40px;

    &__text {
      padding: 10px 30px 10px 29px;
    }

    &__descr {
      width: 401px;
    }
  }

  .colum-right {
    min-height: 510px;

    &__block {
      min-height: 235px;
      padding: 10px 10px 10px 18px;
    }

    &__icon {
      width: 138px;
      margin-right: 3.4%;
    }
  }

  .icon-package {
    &::after {
      top: 67px;
      left: 13px;
      width: 80px;
      height: 80px;
    }

    &::before {
      top: 55px;
      left: 52px;
      width: 80px;
      height: 89px;
    }
  }

  .icon-setting {
    &::after {
      top: 72px;
      left: 12px;
      width: 80px;
      height: 80px;
    }

    &::before {
      top: 53px;
      left: 50px;
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }

  .about {
    &__container {
      margin-bottom: 29px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__descr {
      margin-bottom: 11px;
    }

    &__colum {
      flex-basis: 100%;
      min-height: 399px;
    }
  }

  .colum-left {
    padding-top: 71%;
    background-position: top;
    background-size: contain;

    &__text {
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
      min-height: 140px;
      padding: 0;
      color: var(--main-text-color);
      background-color: inherit;
    }

    &__descr {
      width: 100%;
      margin-bottom: 11px;
      font-weight: 400;
    }

    &__btn {
      padding: 11px 41px;
      font-size: 12px;
      color: var(--accent-color1);

      &:hover,
      &:active {
        color: var(--white-color);
      }
    }
  }

  .colum-right {
    &__block {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 21px;
      padding: 0;
      border: none;
    }

    &__icon {
      width: 65px;
    }

    &__text {
      padding-top: 11px;
    }

    &__text-strong {
      display: block;
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
    }
  }

  .icon-package {
    height: 50px;

    &::after {
      top: 6px;
      left: 0;
      width: 43px;
      height: 43px;
    }

    &::before {
      top: 0;
      left: 20px;
      width: 43px;
      height: 48px;
    }
  }

  .icon-setting {
    height: 57px;

    &::after {
      top: 13px;
      left: 0;
      width: 43px;
      height: 43px;
    }

    &::before {
      top: 0;
      left: 17px;
      width: 46px;
      height: 46px;
    }
  }
}
