@media (max-width: 1350px) {
  .menu {
    flex: 0 0 615px;
    margin-right: 40px;

    &__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    --burger-width: 30px;
    --burger-height: 23px;
    --burger-line-height: 3px;

    &__container {
      justify-content: center;
      padding: 7px 11px 17px 20px;
    }

    &__logo {
      flex: none;
      width: 150px;
      height: 48px;
      margin-left: auto;
    }

    &__menu {
      display: none;
    }
  }

  .burger {
    @include burger;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding: 8px 44px 3px 50px;
    }

    &__search {
      padding: 18px 0 15px;
    }
  }
}

@media (max-width: 576px) {
  .header {
    --burger-width: 25px;
    --burger-height: 19px;
    --burger-line-height: 3px;

    &__container {
      padding: 7px 15px 7px 15px;
    }

    &__logo {
      width: 91px;
      height: 31px;
      margin-right: auto;
      margin-left: 0;
      order: -1;
    }

    &__search {
      display: none;
    }
  }
}
